<?xml version="1.0" encoding="UTF-8"?>
<!-- help http://logging.apache.org/log4j/2.x/manual/appenders.html -->
<configuration status="error">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="log" fileName="qqh/logger.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>

        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <!--<RollingFile name="RollingFile" fileName="logs/app.log"-->
        <!--filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">-->
        <!--<PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>-->
        <!--<SizeBasedTriggeringPolicy size="50MB"/>-->
        <!--</RollingFile>-->

        <JDBC name="databaseAppender" tableName="log_log4j">
            <!--<DataSource jndiName="java:/comp/env/com/util/jdbc/JdbcDataSource"/>-->
            <ConnectionFactory class="com.util.jdbc.DBOperator" method="getConnection"/>
            <Column name="eventDate" isEventTimestamp="true"/>
            <Column name="level" pattern="%level"/>
            <Column name="logger" pattern="%logger"/>
            <Column name="message" pattern="%message"/>
            <Column name="exception" pattern="%ex{full}"/>
        </JDBC>

        <SMTP name="Mail" subject="Error Log" to="" from=""
              smtpHost="" bufferSize="10" smtpPort="25" smtpUsername=""
              smtpPassword="">
        </SMTP>
    </appenders>
    <loggers>
        <root level="debug">
            <appender-ref ref="Console" level="info"/>
            <appender-ref ref="log" level="error"/>
            <!--<AppenderRef ref="databaseAppender" level="info"/>-->
            <!--<AppenderRef ref="Mail" level="error"/>-->
        </root>
    </loggers>
</configuration>